#heading {height:60px;
     width:1280px;
	 background-color:blue}

#menuheading{float:left;
	  margin-top:20px;
	  margin-left:30px;
	  color:white;font-size:20px
	  }
	 
#anchor{float:right;color:white;margin-top:20px;margin-right:80px}

#main{height:317px;width:1280px;background-image:url("..\2.jpg")}

#cutlery{margin-left:25px;margin-top:15px;color:white}

#label2{margin-left:60px;
		display:block;
		padding-top:60px;
		font-size:22px;
		}

body{border:0px;margin:0px}


#table{margin-left:57px;margin-top:40px;font-size:22px;
}




.Name{padding-right:30px
}

.Price{padding-left:30px;text-align:right
}

.adminPrice{padding-left:100px;text-align:right
}

.Active{padding-left:30px;text-align:center
}

.DOL{padding-left:30px;text-align:center
}

.Category{padding-left:30px;text-align:center
}

.Freedelivery{padding-left:120px;text-align:center
}

.adminFreedelivery{padding-left:25px;text-align:center
}

.Action{padding-left:30px;text-align:center
}

#copyright{height:35px;width:1270px;background-color:grey;margin-top:145px;padding-top:20px;padding-left:10px
			}


#copyright2{height:35px;width:1270px;background-color:grey;margin-top:198px;padding-top:20px;padding-left:10px
			}

#editmenu{height:205px;margin-left:60px;margin-top:60px;font-size:22px}

#editmenuname{width:900px}

#editrow{display:block;padding-top:20px}

#editrow2{display:block}

#editrow3{display:block;padding-top:20px}

#editbtn{color:white;background-color:blue;height:55px;width:145px;font-size:15px}

#editactive{padding-left:45px}

#editDOL{padding-left:65px}

#editcategory{padding-left:65px}

#editprice2input{width:85px}

#editactive2{padding-left:20px}

#editDOL2{padding-left:30px}

#editcategory2{padding-left:30px}

#copyright3{height:35px;width:1270px;background-color:grey;margin-top:145px;padding-top:20px;padding-left:10px
			}
#editbox{height:17px;width:17px}

#editrow4{display:block;padding-top:30px}

#editstatusanchor{float:right;color:white;margin-top:20px;margin-right:80px}

#editstatusmain{height:60px;
     width:1280px;
	 background-color:blue}

#editstatusheading{float:left;
	  margin-top:20px;
	  margin-left:30px;
	  color:white;font-size:20px
	  }

#editstatusmenu{height:258px;margin-left:60px;margin-top:60px;font-size:25px}


#editstatusmenu{background-image:url("D:\Truyum\IMAGES\2.jpg");background-size:cover}


#copyright4{height:35px;width:1270px;background-color:grey;margin-top:145px;padding-top:20px;padding-left:10px
			}

#editstatusstrong{font-size:17px;color:green}


#customernotificationstrong{ color:green;padding:350px;font-size:17px}


.cartanchor{padding-left:25px}

#cartlastrow{
}


.cartFreedelivery{padding-left:120px;text-align:left
}



#cartnotificationstrong{ color:green;padding:250px;font-size:17px}

#copyright5{height:35px;width:1270px;background-color:grey;margin-top:145px;padding-top:20px;padding-left:10px
			}
